.terms {
  padding: 40px;
}

.terms-list-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sort {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.down-arrow {
  height: 24px;
}
