.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-wrapper {
  width: 61%;
}
.intro {
  padding: 40px;
}

.title-share {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  margin-bottom: 24px;
}

.share-btn {
  height: 100%;
  background-color: rgb(11, 9, 45);
  color: white;
  border: solid 1px white;
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  border-radius: 8px;
}
.share-btn:hover {
  cursor: pointer;
  background-color: #282e3e;
}
.share-btn:active {
  cursor: pointer;
  background-color: #1a1d28;
}

.share-text {
  margin-left: 8px;
}

.share-icon {
  height: 24px;
}
