.create-set-body {
  width: 100%;
}

.create-set-card {
  background-color: #2e3856;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.create-set-taskbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  padding: 12px 24px;
  border-bottom: solid 2px #1a1d28;
}

.card-body {
  height: 118px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px 24px;
  width: 100%;
}

.term-container,
.definition-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 28px 20px 0 12px;
  width: 100%;
}

.term-container input,
.definition-container input {
  width: 100%;
  background-color: #2e3856;
  border: none;
  border-bottom: solid 2px white;
  margin-bottom: 8px;
  padding-left: 0;
  padding-bottom: 6px;
}
.term-container input::placeholder,
.definition-container input::placeholder {
  color: #d9dde8;
  font-size: 16px;
  font-weight: lighter;
}

.card-body p {
  font-size: 10px;
}
