.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: solid 1px rgb(40, 46, 52);
  padding: 0 16px;
}

.left-section {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-text {
  font-size: 28px;
  font-weight: 700;
  margin-right: 16px;
  margin-left: 12px;
}
.logo-text:hover {
  cursor: pointer;
}

.left-text {
  font-size: 14px;
  margin: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.left-text:hover {
  cursor: pointer;
}

.dropdown-arrow {
  height: 16px;
}

.middle-section {
  flex: 1;
  padding-left: 12px;
}

.search-container {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.search-icon {
  height: 16px;
  position: absolute;
  margin-left: 16px;
  z-index: 100;
}

.search-bar {
  background-color: rgb(46, 57, 86);
  font-weight: 500;
  border: none;
  height: 36px;
  border-radius: 18px;
  flex: 0.9;
  padding: 0 24px;
  position: relative;
  padding-left: 48px;
}

.search-bar::placeholder {
  color: rgb(212, 216, 228);
}

.right-section {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.create-btn {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(66, 85, 255);
  position: relative;
}
.create-btn:hover {
  background-color: #423ed8;
}
.create-btn:active {
  background-color: #1f1c8b;
}
.create-btn:focus {
  border: 1px solid #a8b1ff;
}

.create-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 20px;
}

.notif-btn {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: rgb(11, 9, 45);
  border: solid 1px white;
  position: relative;
}
.notif-btn:focus {
  outline: 1px solid #a8b1ff;
}

.notif-icon {
  height: 20px;
}

.profile-btn {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
}

.upgrade-btn {
  background-color: rgb(255, 205, 31);
  color: rgb(40, 46, 62);
  height: 40px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  padding: 0 18px;
}
.upgrade-btn:hover {
  background-color: #ffdc62;
}
.upgrade-btn:active {
  background-color: #ffedab;
}

.create-btn:hover,
.notif-btn:hover,
.profile-btn:hover,
.upgrade-btn:hover {
  cursor: pointer;
}
